*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 6px;
  font-family: helvetica;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  Padding: 10px;
  margin: 5px;
}

h3 {
  font-size: 2em;
  font-family: times;
  font-weight: bold;
  text-align: left;
  margin: 0px 10px;
}

.container {
  margin: 0px;
  width: 100%;
  overflow: auto;
}

.baku {
  background-image: url('../images/baku.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 23%;
  float: left;
  margin: 1%;
}

.london {
  background-image: url('../images/london.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 23%;
  float: left;
  margin: 1%;
}

.madrid {
  background-image: url('../images/madrid.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 23%;
  float: left;
  margin: 1%;
}

.rome {
  background-image: url('../images/rome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 23%;
  float: left;
  margin: 1%;
}

div {
  float: auto;
  margin: 1% 0;
  width: 100%;
  padding: 20px 0px 80px 0px;
}

/* code added to create two-column design */
@media screen and (max-width: 575px) {
  div {
    margin: 1%;
    width: 48%;
  }
  .baku, .london, .madrid, .rome {
        width: 100%;
  }
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  text-align: left;
}

/* For larger screens laptops and desktops */
@media screen and (min-width: 990px) {
  div {
    margin: 1%;
    width: 48%;
    }
}
